#msgr-scroll{
    overflow-x:hidden;
    overflow-y:visible;
    height:100%;
}



.msgr-body{
    padding-top: 0;
    padding-bottom: 0;
  .container{
    padding-left: 6px;
    padding-right: 6px;
  }
}



.msgr-container{
  max-width: 750px;
  margin:0;
  margin-right: auto;
  margin-left: auto;

  font-size: 1.0em;
  padding-bottom: 40px;

  .msg-balloon {
    color: rgba(0,0,0,.8);
    padding: 8px 14px 8px 14px;
    margin: 0;
    border-radius: 20px;        /* CSS3草案 */
    -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 20px;   /* Firefox用 */
    display: inline-block;
  }
  .col-time{
    color: #fff;
    font-size: .7em;
    vertical-align: bottom;
    padding-bottom: 3px;
  }
  table.info,
  table.author,
  table.me
  {
    margin: 8px 0;
  }
  table.enter-exit{
    margin-top: 40px;
    margin-bottom: 40px;
  }

  table.author{
    .col-portrait{
      vertical-align: top;
      .portrait-container{
        width:48px;
      }
      .portrait-img{
        width:48px;
      }
    }
    .col-msg{
      vertical-align: top;

      .name{
        color: rgba(255,255,255,1);
        font-size: .8em;
        margin-left: 12px;
      }
      .msg{
        margin-top: 4px;
        .sticker{
          margin-top: 4px;
          margin-left: 14px;
        }
        .msg-balloon{
          color:#18202f;
          background-color: #ffffff;
          position: relative;
          margin-left: 14px;
        }
        .msg-balloon:after {
          content: '';
          position: absolute;
          height: 34px;
          width: 44px;
          border-bottom-left-radius: 10px  8px;
          z-index: -1;
          background: #7292c2;
          top: -27px;
          left: -10px;
        }
        .msg-balloon:before {
          content: '';
          position: absolute;
          height: 44px;
          width: 44px;
          border-radius: 22px;
          z-index: -1;
          background: #fff;
          top: -26px;
          left: -10px;
        }
        .col-time{
          padding-left: 6px;
        }
      }
    }
  }

  .me{
    .col-time{
      padding-right: 6px;
    }

    .col-msg {
      .msg-balloon{
        color: #19232f;
        background-color: #85e249;
        position: relative;
        margin-right: 10px;
      }
      .msg-balloon:after {
        content: '';
        position: absolute;
        height: 34px;
        width: 44px;
        border-bottom-right-radius: 10px  8px;
        z-index: -1;
        background: #7292c2;
        top: -27px;
        right: -10px;
      }
      .msg-balloon:before {
        content: '';
        position: absolute;
        height: 44px;
        width: 44px;
        border-radius: 22px;
        z-index: -1;
        background: #85e249;
        top: -26px;
        right: -10px;
      }
    }
  }
  .info{
    .msg{
      padding: 0 24px;
      font-size: .8em;

      .msg-balloon{
        color: #fff;
        background-color: #627da6;
      }
    }
  }
  table.author{
    margin-right: 24px;
  }
  table.me{
    margin-left: 24px;
  }
  table.info{
    margin-left: auto;
    margin-right: auto;
  }
}