.app
{
  background-color: #7292c2;
}

.navbar{
}
.navbar.navbar-absolute-top {
  background: #263147;
  border-color: #666;
  color: #fff;

  a:hover {
    color: #fff;
  }
  .btn-navbar,
  .btn {
    color: #fff;
  }
}
.navbar-absolute-bottom{
  .btn-navbar,
  .btn {
  }
}
// トップ中央の表示を表示幅に関わらず中央にする
@media (min-width: 992px) {
  .navbar-brand-center {
    text-align: center;
    width: 100%;
    float: left;
    position: absolute;
  }
}