.navbar{
  border:none !important;
}
.navbar-absolute-top {
  background: #263147 !important;
  color: #fff !important;
  .btn-navbar,
  .btn {
    color: #fff !important;
  }
}


.navbar-absolute-bottom{
  .btn-navbar,
  .btn {
  }
}

@media (min-width: 992px) {
  .navbar-brand-center {
    text-align: center !important;
    width: 100% !important;
    float: left;
    position: absolute !important;
  }
}